@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Log In</h1>
<p>Please log in to access the administrative area:</p>

@*Notice that we call the Html.ValidationSummary helper method with a bool parameter value of true in
    Listing 11-8. Doing so excludes any property validation messages from being displayed. If we had not done this, any
    property validation errors would be duplicated in the summary area and next to the corresponding input element.*@
@using (Html.BeginForm(new
{
    returnUrl = "https://translate.google.com/"

}))
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in"/>
    </p>
}